
{% macro section_heading(title=None,link=None,btn_text=None) %}
<div class="section-heading">
  <h1 class="title is-3">{{title}}</h1>
  <a class="button is-primary" href="{{url_for(link)}}">{{btn_text}}</a>
</div>
{% endmacro %}

{% macro form_input(label=None,errors=None,name=None,type="input")%}
 <div class="field">
        {{label(class='label')}}
        {%if errors %}
        {%for error in errors %}
        <div class="control">
        {{name(class=type+' is-danger')}}
            <div class="has-text-weight-light has-text-danger">
                {{error}}
            </div>
        </div>
        {%endfor%}
        {%else%}
        <div class="control">
            {{name(class=type)}}
        </div>
        {%endif%}
    </div>
{%endmacro%}

