{% extends "layout/base.html" %} {% block content %}
<!-- Header Add Form Back -->
{%from "macros.html" import section_heading %} {% from "macros.html" import
form_input %} {{section_heading(title=title, link="auth.users",
btn_text="Back")}}
<form method="POST" class="box">
  {{form.csrf_token()}}
  {{form_input(label=form.name.label,errors=form.name.errors,name=form.name,type='input')}}
  {{form_input(label=form.username.label,errors=form.username.errors,name=form.username,type='input')}}
  {{form_input(label=form.email.label,errors=form.email.errors,name=form.email,type='input')}}
  {{form_input(label=form.password.label,errors=form.password.errors,name=form.password,type='input')}}
  {{form_input(label=form.confirm_password.label,errors=form.confirm_password.errors,name=form.confirm_password,type='input')}}
  {{form.submit(class="button is-primary")}}
</form>
{% endblock %}
