<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <title>Dhambaal- {%block title%} {%endblock title%}</title>
  </head>
  <body>
    {% include 'layout/header.html' %}

    <div class="columns">
        <div class="column is-one-quarter dashboard-side">
            {% include 'layout/sidebar.html' %} 
        </div>
        <div class="column dashboard-content">
          
              {%with messages = get_flashed_messages(with_categories=true) %}
              {%if messages%}
              {%for category, message in messages%}
              <article class="message {{category}}" id="alerts">
                <div class="message-body">
                    {{message}}
                </div>
              </article>

              {%endfor%}
              {%endif%}
              {%endwith%}
             
                {%block content%} 
               
                {%endblock content%}
              </div>
      
    </div> 
    <script>
      
      const alert = document.querySelector("#alerts")
      console.log(alert)
      setTimeout(()=>{
        alert.style.display = 'None'
      },4000)
      

    </script>
  </body>
</html>
