<aside class="menu">
    <div class="button is-primary">
        Create New Post
    </div>
    <p class="menu-label">Dashboard</p>
    <ul class="menu-list">
        <li><a href="#" class="is-active">Dashboard</a></li>
    </ul>
    <p class="menu-label">Posts</p>
    <ul class="menu-list">
        <li><a href="#">Posts</a></li>
    </ul>
    <ul class="menu-list">
        <li><a href="#">Create Post</a></li>
    </ul>

    <p class="menu-label">Categories</p>
    <ul class="menu-list">
        <li><a href="#">Categories</a></li>
    </ul>
    <ul class="menu-list">
        <li><a href="#">Create Category</a></li>
    </ul>
</aside>